% The rebar.config exists for the sole purpose of convenient adoption.
% I prefer a simple makefile.
{pre_hooks, [
	% I imagine hooks are possible for all the rebar actions, of which a list
	% can be found at:
	% https://github.com/rebar/rebar/wiki/Rebar-commands
	% For now those two actions will suffice.
    {clean, "make clean"},
    {compile, "make all"}
]}.
